@{
    ViewData["Title"] = "Formulario";
}

<h2>Formulario</h2>
<form action="Resultados" method="post">
    <div class="form-group row">
        <input type="text" class="form-control col-md-6" required name="matricula" placeholder="Inserte su matricula">
        <input type="text" class="form-control col-md-6" required name="nombre" placeholder="Inserte su nombre">
    </div>
    <div class="form-group row">
        <input type="text" class="form-control col-md-6" name="apellido" placeholder="Inserte su apellido">
        <input type="date" name="fechaNacimiento" required class="form-control col-md-6" placeholder="Inserte su fecha de nacimiento">
    </div>
    <div class="form-group row">
        <input type="text" name="carrera" class="form-control col-md-6" placeholder="Inserte su carrera">
        <input type="text" name="telefono" class="form-control col-md-6" placeholder="Inserte su telefono">
    </div>
    <div class="form-group row">
        <input type="text" name="direccion" required class="form-control col-md-12" placeholder="Inserte su Direccion">
    </div>    
    <div class="form-group row">
        <input type="text" name="email" required class="form-control col-md-12" placeholder="Inserte su email">
    </div>
    <div class="form-group row">
        <div class="col-md-12">
            <input type="radio" required value="txt" name="formato">Txt<br>
            <input type="radio" required value="excel" name="formato">Excel<br>
            <input type="radio" required value="json" name="formato">JSON
        </div>
    </div>

    <input type="submit" value="Enviar">
</form>